.map
{
  width: 600px;
  max-width: 95%;
  height: auto;
  margin-left: 10px;
  /* margin: 16px auto; */
  border: 1px solid #555555;
  box-sizing: border-box;
  padding: 16px;
 
}
.svgChina
{
  width: 100%;
}


